<header id="page-header">
  <h2>Applications</h2>
</header>
  <hr />
<main>
  <section id="app-details">
    <p>Name: <%= link_to @application.name, "/applications/#{@application.id}" %></p>
    <p>Address: <%= @application.address %></p>
    <p>City: <%= @application.city %></p>
    <p>State: <%= @application.state %></p>
    <p>Zip: <%= @application.zip %></p>
    <p>Description of qualifications: <%= @application.description %></p>
    <p>Application Status: <%= @application.status%></p>
  </section>

  <hr />

  <section id="pet-search">
    <h4>Add a Pet to this Application</h4>
    <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
      <%= f.label :search_for_a_pet %>
      <%= f.text_field :search %>
      <%= f.submit "Search" %>
    <% end %>
    <p>Search Results:</p>
    <p>"#{@pets}"</p>
  </section>

  <hr />

  <section id="submission">
    <h4>Submit your application!</h4>
  </section>
</main>
